@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: 1800;
		--web-view-id: n_800;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#n_800 {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(246,248,249,1);
		overflow: hidden;
		--web-view-name: 1800;
		--web-view-id: n_800;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
		place-items: center;
	}

	#Bottom_of_the_page {
		left: 40px;
		top: 3564px;
		position: absolute;
		overflow: visible;
		width: 102px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgb(255, 7, 7);
		padding-bottom:  10px;
	}
	#Rectangle_445 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_445 {
		position: relative;
		overflow: visible;
		width: 1160px;
		left: 50%;
		transform: translateX(-50%);
	}
	#Header {
		position: absolute;
		width: 100%;
		height: 47px;
		left: 0px;
		top: 0px;
		background-color: rgba(239,239,239,1);
		border: 0;
		filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.161));
		overflow: visible;
	}
	#The_header_group_is_fixed_to_t {
		right: 20px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 313px;
		white-space: nowrap;
		text-align: right;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 10.5px;
		color: rgba(112,112,112,1);
	}

	.test {
		color: rgb(255, 0, 0);

	}

	#Fixed_Header_Filled_Page {
		left: 116px;
		top: 14px;
		position: absolute;
		overflow: visible;
		width: 236px;
		white-space: nowrap;
		line-height: 56px;
		margin-top: -18px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgb(255, 0, 0);
		letter-spacing: -0.03px;
	}
	#Icon {
		position: absolute;
		width: 24px;
		height: 24px;
		left: 20px;
		top: 13px;
		overflow: visible;
	}
	#Rectangle_177_r {
		fill: url(#Rectangle_177_r);
	}
	.Rectangle_177_r {
		position: absolute;
		overflow: visible;
		width: 24px;
		height: 24px;
		left: 0px;
		top: 0px;
	}
	#W {
		left: 50%;
		transform: translateX(-50%);
		top: 6.5px;
		position: absolute;
		overflow: visible;
		width: 10px;
		white-space: nowrap;
		text-align: right;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 10px;
		color: rgba(255,255,255,1);
	}
	#Header_t {
		position: absolute;
		width: 100%;
		height: 47px;
		left: 0px;
		bottom: 0px;
		background-color: rgba(239,239,239,1);
		border: 0;
		filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.161));
		overflow: visible;
	}
	#The_footer_group_is_fixed_to_t {
		right: 20px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 324px;
		white-space: nowrap;
		text-align: right;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 10.5px;
		color: rgba(112,112,112,1);
	}
	#Fixed_Footer {
		left: 116px;
		top: 14px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		line-height: 56px;
		margin-top: -18px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(93,93,93,1);
		letter-spacing: -0.03px;
	}
	#Group_1 {
		position: absolute;
		width: 1447px;
		height: 554px;
		left: 380px;
		top: 84px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: nowrap;
		overflow: visible;
		padding: 0px;
		gap:  30px;
	}
	#spacer {
		display: none;
		position: relative;
		align-self: auto;
		overflow: visible;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(111,111,111,1);
		outline: 1px dashed red;
	}
	#httpsdevelopermozillaorgen-USd {
		position: relative;
		align-self: auto;
		overflow: visible;
		width: 327px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		color: rgba(112,112,112,1);
	}
	#Lorem_ipsum_dolor_sit_amet_con {
		position: relative;
		align-self: auto;
		overflow: visible;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(111,111,111,1);
	}
	#Group_82 {
		position: absolute;
		width: 1155px;
		height: 124.188px;
		left: 50%;
		transform: translateX(-50%);
		top: 606.812px;
		overflow: visible;
		animation:  resize92to50 2500ms linear 0s infinite;
	}
	#Rectangle_445_ {
		fill: rgba(234,234,234,1);
		stroke: rgba(183,183,183,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_445_ {
		position: absolute;
		overflow: visible;
		width: 1155px;
		height: 100%;
		left: 0px;
		top: 0px;
	}
	#This_text_is_vertically_center {
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		top: 50%;
		position: absolute;
		overflow: visible;
		width: 225px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
}