:root {
	--web-view-ids: n_75,n_68,n_140_;
	--web-view-name: 375;
	--web-view-id: n_75;
	--web-scale-to-fit: false;
	--web-scale-to-fit-type: default;
	--web-enable-scale-up: false;
	--web-scale-on-resize: false;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: true;
	--web-center-vertically: false;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: false;
	--web-add-image-compare: false;
	--web-show-by-media-query: false;
	--web-application: false;
	--web-show-navigation-controls: false;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
}
#n_75,
#n_68,
#n_140_ {
	display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
	.mediaViewInfo {
		--web-view-name: 375;
		--web-view-id: n_75;
		--web-center-horizontally: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#n_75 {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(246,248,249,1);
		overflow-x: hidden;
		overflow-y: scroll;
		--web-view-name: 375;
		--web-view-id: n_75;
		--web-center-horizontally: true;
		--web-enable-deep-linking: true;
		place-items: center;
	}
	#Container {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		overflow: hidden;
	}
	#container-body {
		fill: rgba(255,201,108,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.container-body {
		overflow: visible;
		position: absolute;
		width: 1140px;
		height: 3978px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
}
@media (min-width: 768px) and (max-width: 1139px) {
	.mediaViewInfo {
		--web-view-name: 768;
		--web-view-id: n_68;
		--web-center-horizontally: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#n_68 {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(246,248,249,1);
		overflow-x: hidden;
		overflow-y: scroll;
		--web-view-name: 768;
		--web-view-id: n_68;
		--web-center-horizontally: true;
		--web-enable-deep-linking: true;
		place-items: center;
	}
	#Container_m {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: -0.001px;
		overflow: hidden;
	}
	#container-body_n {
		fill: rgba(114,172,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.container-body_n {
		overflow: visible;
		position: absolute;
		width: 1140px;
		height: 3978px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#container-body_o {
		position: absolute;
		width: 1134px;
		height: 476px;
		left: 0px;
		top: 643.001px;
		overflow: visible;
	}
	#base {
		fill: rgba(166,173,180,1);
	}
	.base {
		position: absolute;
		overflow: visible;
		width: 1134px;
		height: 476px;
		left: 0px;
		top: 0px;
	}
	#main {
		position: absolute;
		width: 567px;
		height: 84px;
		left: 80px;
		top: 95px;
		overflow: visible;
	}
	#Home {
		left: 324px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#About {
		left: 405px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Testimonials {
		left: 488px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 80px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Photos {
		left: 324px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Terms {
		left: 405px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Integrations {
		left: 488px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 75px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Contact {
		left: 324px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Guidlines {
		left: 405px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Careers {
		left: 488px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Discovery {
		left: 324px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Help {
		left: 405px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Advertise {
		left: 488px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#LOGO {
		left: 0px;
		top: 2px;
		position: absolute;
		overflow: visible;
		width: 38px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Acumin Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#subscribe {
		position: absolute;
		width: 420px;
		height: 66px;
		left: 117px;
		top: 312px;
		overflow: visible;
	}
	#input {
		position: absolute;
		width: 420px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#field {
		opacity: 0.1;
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.field {
		position: absolute;
		overflow: visible;
		width: 420px;
		height: 40px;
		left: 0px;
		top: 0px;
	}
	#send {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 384.407px;
		top: 11.6px;
		overflow: visible;
	}
	#send_ {
		fill: rgba(255,255,255,1);
	}
	.send_ {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Email {
		opacity: 0.5;
		left: 20px;
		top: 14px;
		position: absolute;
		overflow: hidden;
		width: 36px;
		height: 10px;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Stay_in_touch_with_us_for_the_ {
		left: 0px;
		top: 56px;
		position: absolute;
		overflow: hidden;
		width: 420px;
		height: 10px;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		color: rgba(203,208,211,1);
	}
	#Social {
		position: absolute;
		width: 136px;
		height: 16px;
		left: 872.019px;
		top: 368px;
		overflow: visible;
	}
	#facebook {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 79px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_392 {
		fill: transparent;
	}
	.Rectangle_392 {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
	}
	#Path_1 {
		fill: rgba(255,255,255,1);
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 8.355px;
		height: 16px;
		left: 4px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#twitter {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 38.981px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_393 {
		fill: transparent;
	}
	.Rectangle_393 {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
	}
	#Path_2 {
		fill: rgba(255,255,255,1);
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 12.978px;
		left: 0px;
		top: 1.999px;
		transform: matrix(1,0,0,1,0,0);
	}
	#instagram {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_3 {
		fill: rgba(255,255,255,1);
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#web {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 120px;
		top: 0px;
		overflow: visible;
	}
	#Path_4 {
		fill: rgba(255,255,255,1);
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
}
@media (min-width: 1140px) {
	.mediaViewInfo {
		--web-view-name: 1140 ;
		--web-view-id: n_140_;
		--web-center-horizontally: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#n_140_ {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(246,248,249,1);
		overflow-x: hidden;
		overflow-y: scroll;
		--web-view-name: 1140 ;
		--web-view-id: n_140_;
		--web-center-horizontally: true;
		--web-enable-deep-linking: true;
		place-items: center;
	}
	#Rectangle_148588 {
		fill: rgba(255,138,0,1);
	}
	.Rectangle_148588 {
		position: sticky;
		overflow: visible;
		width: 100%;
		height: 124px;
		left: -1px;
		top: -6px;
	}
	#n_1-complexe-aquatique-aerial- {
		position: absolute;
		width: 100%;
		height: 797px;
		left: -60px;
		top: 244px;
		overflow: visible;
	}
	#Container_cs {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 965px;
		overflow: hidden;
	}
	#container-body_ct {
		fill: rgba(82,229,186,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.container-body_ct {
		position: absolute;
		overflow: visible;
		width: 1140px;
		height: 3978px;
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
	}
	#container-body_cu {
		position: absolute;
		width: 1140px;
		height: 476px;
		left: 50%;
		transform: translateX(-50%);
		overflow: visible;
	}
	#Group_19_cv {
		position: absolute;
		width: 1140px;
		height: 476px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#base_cw {
		fill: rgba(166,173,180,1);
	}
	.base_cw {
		position: absolute;
		overflow: visible;
		width: 1140px;
		height: 476px;
		left: 0px;
		top: 0px;
	}
	#main_cx {
		position: absolute;
		width: 567px;
		height: 84px;
		left: 80px;
		top: 95px;
		overflow: visible;
	}
	#Home_cy {
		left: 324px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#About_cz {
		left: 405px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Testimonials_c {
		left: 488px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 80px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Photos_c {
		left: 324px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Terms_c {
		left: 405px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Integrations_c {
		left: 488px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 75px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Contact_c {
		left: 324px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Guidlines_c {
		left: 405px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Careers_c {
		left: 488px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Discovery_c {
		left: 324px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Help_c {
		left: 405px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Advertise_c {
		left: 488px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#LOGO_da {
		left: 0px;
		top: 2px;
		position: absolute;
		overflow: visible;
		width: 38px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Acumin Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#subscribe_db {
		position: absolute;
		width: 422px;
		height: 66px;
		left: 118px;
		top: 312.001px;
		overflow: visible;
	}
	#input_dc {
		position: absolute;
		width: 422px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#field_dd {
		opacity: 0.1;
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.field_dd {
		position: absolute;
		overflow: visible;
		width: 422px;
		height: 40px;
		left: 0px;
		top: 0px;
	}
	#send_de {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 386.158px;
		top: 11.599px;
		overflow: visible;
	}
	#send_df {
		fill: rgba(255,255,255,1);
	}
	.send_df {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Email_dg {
		opacity: 0.5;
		left: 20px;
		top: 14px;
		position: absolute;
		overflow: hidden;
		width: 36px;
		height: 10px;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Stay_in_touch_with_us_for_the__dh {
		left: 0px;
		top: 56px;
		position: absolute;
		overflow: hidden;
		width: 422px;
		height: 10px;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		color: rgba(203,208,211,1);
	}
	#Social_di {
		position: absolute;
		width: 136px;
		height: 16.001px;
		left: 877.278px;
		top: 368px;
		overflow: visible;
	}
	#facebook_dj {
		position: absolute;
		width: 16px;
		height: 16.001px;
		left: 79px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_392_dk {
		fill: transparent;
	}
	.Rectangle_392_dk {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
	}
	#Path_1_dl {
		fill: rgba(255,255,255,1);
	}
	.Path_1_dl {
		overflow: visible;
		position: absolute;
		width: 8.355px;
		height: 16px;
		left: 4px;
		top: 0.001px;
		transform: matrix(1,0,0,1,0,0);
	}
	#twitter_dm {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 38.722px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_393_dn {
		fill: transparent;
	}
	.Rectangle_393_dn {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
	}
	#Path_2_do {
		fill: rgba(255,255,255,1);
	}
	.Path_2_do {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 12.978px;
		left: 0px;
		top: 2px;
		transform: matrix(1,0,0,1,0,0);
	}
	#instagram_dp {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_3_dq {
		fill: rgba(255,255,255,1);
	}
	.Path_3_dq {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#web_dr {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 120px;
		top: 0px;
		overflow: visible;
	}
	#Path_4_ds {
		fill: rgba(255,255,255,1);
	}
	.Path_4_ds {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_148587 {
		fill: rgba(82,229,186,1);
	}
	.Rectangle_148587 {
		position: absolute;
		overflow: visible;
		width: 100%;
		height: 50px;
		left: 0px;
		top: 593px;
	}
	#Container_cs {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 965px;
		overflow: hidden;
	}
	#container-body_ct {
		fill: rgba(82,229,186,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.container-body_ct {
		position: absolute;
		overflow: visible;
		width: 1140px;
		height: 3978px;
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
	}
	#container-body_cu {
		position: absolute;
		width: 1140px;
		height: 476px;
		left: 50%;
		transform: translateX(-50%);
		overflow: visible;
	}
	#Group_19_cv {
		position: absolute;
		width: 1140px;
		height: 476px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#base_cw {
		fill: rgba(166,173,180,1);
	}
	.base_cw {
		position: absolute;
		overflow: visible;
		width: 1140px;
		height: 476px;
		left: 0px;
		top: 0px;
	}
	#main_cx {
		position: absolute;
		width: 567px;
		height: 84px;
		left: 80px;
		top: 95px;
		overflow: visible;
	}
	#Home_cy {
		left: 324px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#About_cz {
		left: 405px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Testimonials_c {
		left: 488px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 80px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Photos_c {
		left: 324px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Terms_c {
		left: 405px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Integrations_c {
		left: 488px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 75px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Contact_c {
		left: 324px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Guidlines_c {
		left: 405px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Careers_c {
		left: 488px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Discovery_c {
		left: 324px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Help_c {
		left: 405px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Advertise_c {
		left: 488px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#LOGO_da {
		left: 0px;
		top: 2px;
		position: absolute;
		overflow: visible;
		width: 38px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Acumin Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#subscribe_db {
		position: absolute;
		width: 422px;
		height: 66px;
		left: 118px;
		top: 312.001px;
		overflow: visible;
	}
	#input_dc {
		position: absolute;
		width: 422px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#field_dd {
		opacity: 0.1;
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.field_dd {
		position: absolute;
		overflow: visible;
		width: 422px;
		height: 40px;
		left: 0px;
		top: 0px;
	}
	#send_de {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 386.158px;
		top: 11.599px;
		overflow: visible;
	}
	#send_df {
		fill: rgba(255,255,255,1);
	}
	.send_df {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Email_dg {
		opacity: 0.5;
		left: 20px;
		top: 14px;
		position: absolute;
		overflow: hidden;
		width: 36px;
		height: 10px;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Stay_in_touch_with_us_for_the__dh {
		left: 0px;
		top: 56px;
		position: absolute;
		overflow: hidden;
		width: 422px;
		height: 10px;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		color: rgba(203,208,211,1);
	}
	#Social_di {
		position: absolute;
		width: 136px;
		height: 16.001px;
		left: 877.278px;
		top: 368px;
		overflow: visible;
	}
	#facebook_dj {
		position: absolute;
		width: 16px;
		height: 16.001px;
		left: 79px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_392_dk {
		fill: transparent;
	}
	.Rectangle_392_dk {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
	}
	#Path_1_dl {
		fill: rgba(255,255,255,1);
	}
	.Path_1_dl {
		overflow: visible;
		position: absolute;
		width: 8.355px;
		height: 16px;
		left: 4px;
		top: 0.001px;
		transform: matrix(1,0,0,1,0,0);
	}
	#twitter_dm {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 38.722px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_393_dn {
		fill: transparent;
	}
	.Rectangle_393_dn {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
	}
	#Path_2_do {
		fill: rgba(255,255,255,1);
	}
	.Path_2_do {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 12.978px;
		left: 0px;
		top: 2px;
		transform: matrix(1,0,0,1,0,0);
	}
	#instagram_dp {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_3_dq {
		fill: rgba(255,255,255,1);
	}
	.Path_3_dq {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#web_dr {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 120px;
		top: 0px;
		overflow: visible;
	}
	#Path_4_ds {
		fill: rgba(255,255,255,1);
	}
	.Path_4_ds {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Container_dt {
		position: sticky;
		width: 100%;
		height: 100%;
		left: -1504.619px;
		top: 123px;
		display: block;
		overflow: hidden;
	}
	#container-body_du {
		fill: rgba(255,255,255,1);
	}
	.container-body_du {
		overflow: visible;
		position: absolute;
		width: 4774.071px;
		height: 110px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#container-body_dv {
		position: absolute;
		width: 1122px;
		height: 95.08px;
		left: 50%;
		transform: translateX(-50%);
		overflow: visible;
	}
	#Group_19_dw {
		position: absolute;
		width: 1122px;
		height: 90px;
		left: 0px;
		top: 5.079px;
		overflow: visible;
	}
	#base_dx {
		fill: rgba(255,255,255,1);
	}
	.base_dx {
		overflow: visible;
		position: absolute;
		width: 1122px;
		height: 90px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_143936 {
		position: absolute;
		width: 100%;
		height: 80px;
		left: 464px;
		top: 0px;
		display: block;
		overflow: visible;
	}
	#Group_143917 {
		position: absolute;
		width: 650px;
		height: 39px;
		left: 0px;
		top: 41px;
		overflow: visible;
		padding: 10px;
	}
	#Rectangle_148586 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_148586 {
		position: absolute;
		overflow: visible;
		width: 650px;
		height: 39px;
		left: 0px;
		top: 0px;
	}
	#Group_143921 {
		position: absolute;
		width: 104px;
		height: 19px;
		left: 536px;
		top: 10px;
		overflow: visible;
	}
	#Title_eh {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 105px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Title_eh {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 105px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143920 {
		position: absolute;
		width: 70px;
		height: 19px;
		left: 416px;
		top: 10px;
		overflow: visible;
	}
	#Title_ek {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Title_ek {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143919 {
		position: absolute;
		width: 198px;
		height: 19px;
		left: 168px;
		top: 10px;
		overflow: visible;
	}
	#Title_en {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 199px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Title_en {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 199px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143918 {
		position: absolute;
		width: 108px;
		height: 19px;
		left: 10px;
		top: 10px;
		overflow: visible;
	}
	#Title_eq {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 109px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Title_eq {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 109px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143927 {
		position: absolute;
		width: 650px;
		height: 39px;
		left: 0px;
		top: 41px;
		overflow: visible;
		padding: 10px;
	}
	#Rectangle_148586_ee {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_148586_ee {
		position: absolute;
		overflow: visible;
		width: 650px;
		height: 39px;
		left: 0px;
		top: 0px;
	}
	#Group_143921_ef {
		position: absolute;
		width: 104px;
		height: 19px;
		left: 536px;
		top: 10px;
		overflow: visible;
	}
	#Title_eh {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 105px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Title_eh {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 105px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143920_ei {
		position: absolute;
		width: 70px;
		height: 19px;
		left: 416px;
		top: 10px;
		overflow: visible;
	}
	#Title_ek {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Title_ek {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143919_el {
		position: absolute;
		width: 198px;
		height: 19px;
		left: 168px;
		top: 10px;
		overflow: visible;
	}
	#Title_en {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 199px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Title_en {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 199px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143918_eo {
		position: absolute;
		width: 108px;
		height: 19px;
		left: 10px;
		top: 10px;
		overflow: visible;
	}
	#Title_eq {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 109px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Title_eq {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 109px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143923 {
		position: absolute;
		width: 193px;
		height: 39px;
		left: 457px;
		top: 0px;
		overflow: visible;
		padding: 10px;
	}
	#Rectangle_148586_es {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_148586_es {
		position: absolute;
		overflow: visible;
		width: 193px;
		height: 39px;
		left: 0px;
		top: 0px;
	}
	#Group_143921_et {
		position: absolute;
		width: 104px;
		height: 19px;
		left: 79px;
		top: 10px;
		overflow: visible;
	}
	#Title_e {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 105px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143919_ev {
		position: absolute;
		width: 19px;
		height: 19px;
		left: 10px;
		top: 10px;
		overflow: visible;
	}
	#Title_fa {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 20px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143928 {
		position: absolute;
		width: 193px;
		height: 39px;
		left: 457px;
		top: 0px;
		overflow: visible;
		padding: 10px;
	}
	#Rectangle_148586_ey {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_148586_ey {
		position: absolute;
		overflow: visible;
		width: 193px;
		height: 39px;
		left: 0px;
		top: 0px;
	}
	#Group_143921_ez {
		position: absolute;
		width: 104px;
		height: 19px;
		left: 79px;
		top: 10px;
		overflow: visible;
	}
	#Title_e {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 105px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143919_e {
		position: absolute;
		width: 19px;
		height: 19px;
		left: 10px;
		top: 10px;
		overflow: visible;
	}
	#Title_fa {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 20px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143926 {
		position: absolute;
		width: 30px;
		height: 30px;
		left: 398px;
		top: 5px;
		overflow: visible;
	}
	#Ellipse_1 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_1 {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 0px;
		top: 0px;
	}
	#Group_143924 {
		position: absolute;
		width: 14.231px;
		height: 20.079px;
		left: 8px;
		top: 5px;
		overflow: visible;
	}
	#Path_583_fc {
		fill: rgba(0,0,0,0);
	}
	.Path_583_fc {
		overflow: visible;
		position: absolute;
		width: 13.235px;
		height: 15.08px;
		left: 0px;
		top: 5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_585_fd {
		fill: rgba(0,0,0,0);
	}
	.Path_585_fd {
		overflow: visible;
		position: absolute;
		width: 4.534px;
		height: 4.557px;
		left: 0.655px;
		top: 15.443px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_584_fe {
		fill: rgba(0,0,0,0);
	}
	.Path_584_fe {
		overflow: visible;
		position: absolute;
		width: 14.23px;
		height: 4.586px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_143929 {
		position: absolute;
		width: 30px;
		height: 30px;
		left: 398px;
		top: 5px;
		overflow: visible;
	}
	#Ellipse_1_fa {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_1_fa {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 0px;
		top: 0px;
	}
	#Group_143924_fb {
		position: absolute;
		width: 14.231px;
		height: 20.079px;
		left: 8px;
		top: 5px;
		overflow: visible;
	}
	#Path_583_fc {
		fill: rgba(0,0,0,0);
	}
	.Path_583_fc {
		overflow: visible;
		position: absolute;
		width: 13.235px;
		height: 15.08px;
		left: 0px;
		top: 5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_585_fd {
		fill: rgba(0,0,0,0);
	}
	.Path_585_fd {
		overflow: visible;
		position: absolute;
		width: 4.534px;
		height: 4.557px;
		left: 0.655px;
		top: 15.443px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_584_fe {
		fill: rgba(0,0,0,0);
	}
	.Path_584_fe {
		overflow: visible;
		position: absolute;
		width: 14.23px;
		height: 4.586px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_143933 {
		position: absolute;
		width: 110px;
		height: 38.957px;
		left: 34.389px;
		top: 15.864px;
		overflow: visible;
	}
	#Path_7 {
		fill: rgba(6,86,165,1);
	}
	.Path_7 {
		overflow: visible;
		position: absolute;
		width: 50.701px;
		height: 22.4px;
		left: 1.1px;
		top: 15.601px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_8 {
		fill: rgba(167,34,140,1);
	}
	.Path_8 {
		overflow: visible;
		position: absolute;
		width: 13.801px;
		height: 27.9px;
		left: 15.6px;
		top: 1.101px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_9 {
		fill: rgba(167,34,140,1);
	}
	.Path_9 {
		overflow: visible;
		position: absolute;
		width: 7.6px;
		height: 21.8px;
		left: 45px;
		top: 15.9px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_239 {
		position: absolute;
		width: 110px;
		height: 38.957px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_238 {
		position: absolute;
		width: 110px;
		height: 38.957px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_143939 {
		position: absolute;
		width: 140.692px;
		height: 50.079px;
		left: 767px;
		top: 0px;
		overflow: visible;
		padding: 10px;
	}
	#Rectangle_148586_fm {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_148586_fm {
		position: absolute;
		overflow: visible;
		width: 140.692px;
		height: 50.079px;
		left: 0px;
		top: 0px;
	}
	#Group_143942 {
		position: absolute;
		width: 30.231px;
		height: 30.079px;
		left: 100.462px;
		top: 10px;
		overflow: visible;
		padding: 5px 8px 5px 8px;
	}
	#Ellipse_1_fo {
		fill: rgba(255,255,255,1);
		stroke: rgba(52,54,56,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_1_fo {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 0px;
		top: 0px;
	}
	#Group_143924_fp {
		position: absolute;
		width: 14.231px;
		height: 20.079px;
		left: 8px;
		top: 5px;
		overflow: visible;
	}
	#Path_583_fq {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_583_fq {
		overflow: visible;
		position: absolute;
		width: 14.235px;
		height: 16.08px;
		left: 0px;
		top: 5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_585_fr {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_585_fr {
		overflow: visible;
		position: absolute;
		width: 5.534px;
		height: 5.557px;
		left: 0.655px;
		top: 15.442px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_584_fs {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_584_fs {
		overflow: visible;
		position: absolute;
		width: 15.23px;
		height: 5.654px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_143940 {
		position: absolute;
		width: 30.231px;
		height: 30.079px;
		left: 55.23px;
		top: 10px;
		overflow: visible;
		padding: 5px 8px 5px 8px;
	}
	#Ellipse_1_fu {
		fill: rgba(255,255,255,1);
		stroke: rgba(52,54,56,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_1_fu {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 0px;
		top: 0px;
	}
	#Group_143924_fv {
		position: absolute;
		width: 14.231px;
		height: 20.079px;
		left: 8px;
		top: 5px;
		overflow: visible;
	}
	#Path_583_fw {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_583_fw {
		overflow: visible;
		position: absolute;
		width: 14.235px;
		height: 16.08px;
		left: 0px;
		top: 5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_585_fx {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_585_fx {
		overflow: visible;
		position: absolute;
		width: 5.534px;
		height: 5.557px;
		left: 0.655px;
		top: 15.442px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_584_fy {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_584_fy {
		overflow: visible;
		position: absolute;
		width: 15.231px;
		height: 5.654px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_143941 {
		position: absolute;
		width: 30.231px;
		height: 30.079px;
		left: 10px;
		top: 10px;
		overflow: visible;
		padding: 5px 8px 5px 8px;
	}
	#Ellipse_1_f {
		fill: rgba(255,255,255,1);
		stroke: rgba(52,54,56,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_1_f {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 0px;
		top: 0px;
	}
	#Group_143924_f {
		position: absolute;
		width: 14.231px;
		height: 20.079px;
		left: 8px;
		top: 5px;
		overflow: visible;
	}
	#Path_583_f {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_583_f {
		overflow: visible;
		position: absolute;
		width: 14.235px;
		height: 16.08px;
		left: 0px;
		top: 5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_585_f {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_585_f {
		overflow: visible;
		position: absolute;
		width: 5.534px;
		height: 5.557px;
		left: 0.654px;
		top: 15.442px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_584_f {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_584_f {
		overflow: visible;
		position: absolute;
		width: 15.231px;
		height: 5.654px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
}
