:root {
	--web-view-ids: n_75,n_68,n_800;
	--web-view-name: 1800;
	--web-view-id: n_800;
	--web-scale-to-fit: false;
	--web-scale-to-fit-type: default;
	--web-enable-scale-up: false;
	--web-scale-on-resize: false;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: false;
	--web-center-vertically: false;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: false;
	--web-add-image-compare: false;
	--web-show-by-media-query: true;
	--web-application: false;
	--web-show-navigation-controls: false;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
}
#n_75,
#n_68,
#n_800 {
	display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
	.mediaViewInfo {
		--web-view-name: 375;
		--web-view-id: n_75;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#n_75 {
		position: absolute;
		display: block;
		width: 375px;
		height: 1963px;
		background-color: rgba(246,248,249,1);
		overflow: hidden;
		--web-view-name: 375;
		--web-view-id: n_75;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	#main {
		position: absolute;
		width: 327px;
		height: 1423px;
		left: 24px;
		top: 516px;
		overflow: visible;
	}
	#Quisque_viverra_interdum_velit {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 328px;
		height: 74px;
		line-height: 42px;
		margin-top: -5px;
		text-align: left;
		font-family: Acumin Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(32,33,36,1);
	}
	#Culpa_qui_officia_deserunt_mol {
		left: 0px;
		top: 98px;
		position: absolute;
		overflow: hidden;
		width: 328px;
		height: 638px;
		line-height: 26px;
		margin-top: -6px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(166,173,180,1);
	}
	#responds {
		position: absolute;
		width: 327px;
		height: 387px;
		left: 0px;
		top: 816px;
		overflow: hidden;
	}
	#responds_ {
		position: absolute;
		width: 327px;
		height: 173px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#avatar {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Jonathan_Walker {
		left: 60px;
		top: 7px;
		position: absolute;
		overflow: visible;
		width: 192px;
		white-space: nowrap;
		line-height: 42px;
		margin-top: -9px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(32,33,36,1);
	}
	#In_hac_habitasse_platea_dictum {
		left: 0px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 328px;
		height: 77px;
		line-height: 30px;
		margin-top: -7px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 16px;
		color: rgba(32,33,36,1);
	}
	#time {
		position: absolute;
		width: 69px;
		height: 16px;
		left: 0px;
		top: 157px;
		overflow: visible;
	}
	#n_m_ago {
		left: 26px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 44px;
		white-space: nowrap;
		line-height: 26px;
		margin-top: -6.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 13px;
		color: rgba(166,173,180,1);
	}
	#time_ {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_5 {
		fill: rgba(203,208,211,1);
	}
	.Path_5 {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#responds_ba {
		position: absolute;
		width: 327px;
		height: 173px;
		left: 0px;
		top: 213px;
		overflow: visible;
	}
	#avatar_bb {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Brenda_Mercer {
		left: 60px;
		top: 7px;
		position: absolute;
		overflow: visible;
		width: 169px;
		white-space: nowrap;
		line-height: 42px;
		margin-top: -9px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(32,33,36,1);
	}
	#Nulla_faucibus_ipsum_sed_fauci {
		left: 0px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 328px;
		height: 77px;
		line-height: 30px;
		margin-top: -7px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 16px;
		color: rgba(32,33,36,1);
	}
	#time_be {
		position: absolute;
		width: 69px;
		height: 16px;
		left: 0px;
		top: 157px;
		overflow: visible;
	}
	#n_m_ago_bf {
		left: 26px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 44px;
		white-space: nowrap;
		line-height: 26px;
		margin-top: -6.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 13px;
		color: rgba(166,173,180,1);
	}
	#time_bg {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_5_bh {
		fill: rgba(203,208,211,1);
	}
	.Path_5_bh {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#divider {
		fill: transparent;
		stroke: rgba(235,237,237,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.divider {
		overflow: visible;
		position: absolute;
		width: 329px;
		height: 2px;
		left: 0px;
		top: 776px;
		transform: matrix(1,0,0,1,0,0);
	}
	#video {
		position: absolute;
		width: 327px;
		height: 180px;
		left: 0px;
		top: 1243px;
		overflow: visible;
	}
	#Image {
		position: absolute;
		width: 327px;
		height: 180px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#playbutton {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 139.001px;
		top: 65px;
		overflow: visible;
	}
	#base {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.base {
		position: absolute;
		overflow: visible;
		width: 50px;
		height: 50px;
		left: 0px;
		top: 0px;
	}
	#icon {
		fill: rgba(255,255,255,1);
	}
	.icon {
		overflow: visible;
		position: absolute;
		width: 8px;
		height: 10px;
		left: 22px;
		top: 20px;
		transform: matrix(1,0,0,1,0,0);
	}
	#hero {
		position: absolute;
		width: 375px;
		height: 388px;
		left: 0px;
		top: 88px;
		overflow: visible;
	}
	#Image_bp {
		position: absolute;
		width: 375px;
		height: 388px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#overlay_br {
		fill: url(#overlay_br);
	}
	.overlay_br {
		position: absolute;
		overflow: visible;
		width: 375px;
		height: 388px;
		left: 0px;
		top: 0px;
	}
	#title {
		position: absolute;
		width: 327px;
		height: 110px;
		left: 24px;
		top: 139px;
		overflow: visible;
	}
	#AMAZING_PLACES_IN_AMERICA_TO_V {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: hidden;
		width: 328px;
		height: 70px;
		line-height: 40px;
		margin-top: -5px;
		text-align: center;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#additional_info {
		position: absolute;
		width: 318px;
		height: 16px;
		left: 5px;
		top: 94px;
		overflow: visible;
	}
	#page {
		position: absolute;
		width: 140px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#TRAVELGUIDE {
		left: 26px;
		top: 2px;
		position: absolute;
		overflow: hidden;
		width: 115px;
		height: 12px;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#web {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_4 {
		fill: rgba(255,255,255,1);
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Topic {
		position: absolute;
		width: 139px;
		height: 15.999px;
		left: 179px;
		top: 0px;
		overflow: visible;
	}
	#WORLD_NEWS {
		left: 26px;
		top: 2px;
		position: absolute;
		overflow: hidden;
		width: 114px;
		height: 12px;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#topic {
		fill: rgba(255,255,255,1);
	}
	.topic {
		overflow: visible;
		position: absolute;
		width: 14px;
		height: 15.999px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#avatar_b {
		position: absolute;
		width: 32px;
		height: 32px;
		left: 24px;
		top: 316px;
		overflow: visible;
	}
	#next_story {
		position: absolute;
		width: 128px;
		height: 12px;
		left: 223px;
		top: 326px;
		overflow: visible;
	}
	#NEXT_STORY_b {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: hidden;
		width: 103px;
		height: 12px;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(250,105,128,1);
	}
	#arrow {
		fill: rgba(255,255,255,1);
	}
	.arrow {
		overflow: visible;
		position: absolute;
		width: 10px;
		height: 6px;
		transform: translate(0px, 0px) matrix(1,0,0,1,120,3) rotate(-90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#header {
		position: absolute;
		width: 375px;
		height: 88px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#bg {
		fill: rgba(246,248,249,1);
	}
	.bg {
		position: absolute;
		overflow: visible;
		width: 375px;
		height: 88px;
		left: 0px;
		top: 0px;
	}
	#Status_Bar_Light {
		position: absolute;
		width: 375px;
		height: 44px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#BarsStatus_BarLight_Status_Bar {
		position: absolute;
		width: 375px;
		height: 44px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Background {
		fill: transparent;
	}
	.Background {
		overflow: visible;
		position: absolute;
		width: 375px;
		height: 44px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Battery {
		position: absolute;
		width: 24.328px;
		height: 11.333px;
		left: 336px;
		top: 17.333px;
		overflow: visible;
	}
	#Shape {
		opacity: 0.35;
		fill: transparent;
		stroke: rgba(52,54,56,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Shape {
		overflow: visible;
		position: absolute;
		width: 22px;
		height: 11.333px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_cd {
		fill: rgba(52,54,56,1);
	}
	.Shape_cd {
		overflow: visible;
		position: absolute;
		width: 1.328px;
		height: 4px;
		left: 23px;
		top: 3.667px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_ce {
		fill: rgba(52,54,56,1);
	}
	.Shape_ce {
		overflow: visible;
		position: absolute;
		width: 18px;
		height: 7.333px;
		left: 2px;
		top: 2px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_cf {
		fill: rgba(52,54,56,1);
	}
	.Shape_cf {
		overflow: visible;
		position: absolute;
		width: 15.272px;
		height: 10.966px;
		left: 315.694px;
		top: 17.331px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Cellular_Connection {
		position: absolute;
		width: 17px;
		height: 10.667px;
		left: 293.667px;
		top: 17.667px;
		overflow: visible;
	}
	#Shape_ch {
		fill: rgba(52,54,56,1);
	}
	.Shape_ch {
		overflow: visible;
		position: absolute;
		width: 17px;
		height: 10.667px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Bars_Time_Black {
		position: absolute;
		width: 54px;
		height: 18px;
		left: 21px;
		top: 13px;
		overflow: visible;
	}
	#Background_cj {
		fill: rgba(0,0,0,0);
	}
	.Background_cj {
		overflow: visible;
		position: absolute;
		width: 54px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_Time {
		left: 0px;
		top: 2px;
		position: absolute;
		overflow: visible;
		width: 55px;
		height: 16px;
		text-align: center;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(52,54,56,1);
		letter-spacing: 0.002800000011920929px;
	}
	#LOGO {
		left: 169px;
		top: 57px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(166,173,180,1);
	}
	#avatar_cm {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 343px;
		top: 56px;
		overflow: visible;
	}
	#menu_icon {
		position: absolute;
		width: 16px;
		height: 14.001px;
		left: 16px;
		top: 57px;
		overflow: visible;
	}
	#menu_icon_co {
		fill: rgba(52,54,56,1);
	}
	.menu_icon_co {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 14.001px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
}
@media (min-width: 768px) and (max-width: 1799px) {
	.mediaViewInfo {
		--web-view-name: 768;
		--web-view-id: n_68;
		--web-scale-on-resize: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#n_68 {
		position: absolute;
		display: block;
		width: 768px;
		height: 2143px;
		background-color: rgba(246,248,249,1);
		overflow: hidden;
		--web-view-name: 768;
		--web-view-id: n_68;
		--web-scale-on-resize: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	#main_cr {
		position: absolute;
		width: 608.001px;
		height: 1217px;
		left: 80px;
		top: 530px;
		overflow: visible;
	}
	#Quisque_viverra_interdum_velit_cs {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 285px;
		height: 74px;
		line-height: 42px;
		margin-top: -5px;
		text-align: left;
		font-family: Acumin Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(32,33,36,1);
	}
	#divider_ct {
		fill: rgba(235,237,237,1);
	}
	.divider_ct {
		position: absolute;
		overflow: visible;
		width: 608px;
		height: 2px;
		left: 0px;
		top: 408px;
	}
	#Lorem_ipsum_dolor_sit_amet_con {
		left: 0px;
		top: 104px;
		position: absolute;
		overflow: hidden;
		width: 285px;
		height: 224px;
		line-height: 26px;
		margin-top: -6px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(166,173,180,1);
	}
	#condimentum_lacinia_ante_non_n {
		left: 324px;
		top: 0px;
		position: absolute;
		overflow: hidden;
		width: 285px;
		height: 222px;
		line-height: 26px;
		margin-top: -6px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(166,173,180,1);
	}
	#responds_cw {
		position: absolute;
		width: 608px;
		height: 387px;
		left: 0px;
		top: 490px;
		overflow: hidden;
	}
	#responds_cx {
		position: absolute;
		width: 608px;
		height: 173px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#avatar_cy {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Jonathan_Walker_cz {
		left: 60px;
		top: 7px;
		position: absolute;
		overflow: visible;
		width: 192px;
		white-space: nowrap;
		line-height: 42px;
		margin-top: -9px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(32,33,36,1);
	}
	#In_hac_habitasse_platea_dictum_c {
		left: 0px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 609px;
		height: 77px;
		line-height: 30px;
		margin-top: -7px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 16px;
		color: rgba(32,33,36,1);
	}
	#time_c {
		position: absolute;
		width: 67px;
		height: 16px;
		left: 0px;
		top: 157px;
		overflow: visible;
	}
	#n_m_ago_c {
		left: 24px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 44px;
		white-space: nowrap;
		line-height: 26px;
		margin-top: -6.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 13px;
		color: rgba(166,173,180,1);
	}
	#time_da {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_5_c {
		fill: rgba(203,208,211,1);
	}
	.Path_5_c {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#responds_c {
		position: absolute;
		width: 608px;
		height: 173px;
		left: 0px;
		top: 213px;
		overflow: visible;
	}
	#avatar_c {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Brenda_Mercer_c {
		left: 60px;
		top: 7px;
		position: absolute;
		overflow: visible;
		width: 169px;
		white-space: nowrap;
		line-height: 42px;
		margin-top: -9px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(32,33,36,1);
	}
	#In_hac_habitasse_platea_dictum_da {
		left: 0px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 609px;
		height: 77px;
		line-height: 30px;
		margin-top: -7px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 16px;
		color: rgba(32,33,36,1);
	}
	#time_db {
		position: absolute;
		width: 64px;
		height: 16px;
		left: 0px;
		top: 157px;
		overflow: visible;
	}
	#n_h_ago {
		left: 24px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		line-height: 26px;
		margin-top: -6.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 13px;
		color: rgba(166,173,180,1);
	}
	#time_dc {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_5_dc {
		fill: rgba(203,208,211,1);
	}
	.Path_5_dc {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#info {
		position: absolute;
		width: 284px;
		height: 72px;
		left: 324.001px;
		top: 256px;
		overflow: visible;
	}
	#Thought_Experiment-_VR_Travel_ {
		left: 0px;
		top: 30px;
		position: absolute;
		overflow: visible;
		width: 285px;
		height: 16px;
		line-height: 26px;
		margin-top: -5px;
		text-align: left;
		font-family: Acumin Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(32,33,36,1);
	}
	#time_df {
		position: absolute;
		width: 151px;
		height: 16px;
		left: 0px;
		top: 56px;
		overflow: visible;
	}
	#n_h_ago_by_Worldnews {
		left: 26px;
		top: 1px;
		position: absolute;
		overflow: visible;
		width: 126px;
		white-space: nowrap;
		line-height: 26px;
		margin-top: -6.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 13px;
		color: rgba(166,173,180,1);
	}
	#time_dh {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_5_di {
		fill: rgba(203,208,211,1);
	}
	.Path_5_di {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#divider_dj {
		fill: transparent;
		stroke: rgba(235,237,237,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-dasharray: 4 5;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.divider_dj {
		overflow: visible;
		position: absolute;
		width: 286px;
		height: 2px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#video_dk {
		position: absolute;
		width: 608px;
		height: 300px;
		left: 0px;
		top: 917px;
		overflow: visible;
	}
	#Image_dl {
		position: absolute;
		width: 608px;
		height: 300px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#playbutton_dm {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 284px;
		top: 130px;
		overflow: visible;
	}
	#base_dn {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.base_dn {
		position: absolute;
		overflow: visible;
		width: 40px;
		height: 40px;
		left: 0px;
		top: 0px;
	}
	#icon_do {
		fill: rgba(255,255,255,1);
	}
	.icon_do {
		overflow: visible;
		position: absolute;
		width: 8px;
		height: 10px;
		left: 17px;
		top: 15px;
		transform: matrix(1,0,0,1,0,0);
	}
	#hero_dp {
		position: absolute;
		width: 768px;
		height: 400px;
		left: 0px;
		top: 50px;
		overflow: visible;
	}
	#Image_dq {
		position: absolute;
		width: 768px;
		height: 400px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#overlay_ds {
		fill: url(#overlay_ds);
	}
	.overlay_ds {
		position: absolute;
		overflow: visible;
		width: 768px;
		height: 400px;
		left: 0px;
		top: 0px;
	}
	#title_dt {
		position: absolute;
		width: 608px;
		height: 59.976px;
		left: 80px;
		top: 109.024px;
		overflow: visible;
	}
	#AMAZING_PLACES_IN_AMERICA_TO_V_du {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: hidden;
		width: 609px;
		height: 24px;
		text-align: center;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#additional_info_dv {
		position: absolute;
		width: 318px;
		height: 16px;
		left: 146px;
		top: 43.976px;
		overflow: visible;
	}
	#page_dw {
		position: absolute;
		width: 140px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#TRAVELGUIDE_dx {
		left: 26px;
		top: 2px;
		position: absolute;
		overflow: hidden;
		width: 115px;
		height: 12px;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#web_dy {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_4_dz {
		fill: rgba(255,255,255,1);
	}
	.Path_4_dz {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Topic_d {
		position: absolute;
		width: 139px;
		height: 15.999px;
		left: 179px;
		top: 0px;
		overflow: visible;
	}
	#WORLD_NEWS_d {
		left: 26px;
		top: 2px;
		position: absolute;
		overflow: hidden;
		width: 114px;
		height: 12px;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#topic_d {
		fill: rgba(255,255,255,1);
	}
	.topic_d {
		overflow: visible;
		position: absolute;
		width: 14px;
		height: 15.999px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#autor {
		position: absolute;
		width: 212px;
		height: 40px;
		left: 40px;
		top: 320px;
		overflow: visible;
	}
	#avatar_d {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#by_Steven_Voorhees {
		left: 60px;
		top: 12px;
		position: absolute;
		overflow: visible;
		width: 153px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#next_story_d {
		position: absolute;
		width: 284px;
		height: 82px;
		left: 444px;
		top: 278px;
		overflow: visible;
	}
	#Rectangle_428 {
		opacity: 0.5;
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 4 5;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_428 {
		position: absolute;
		overflow: visible;
		width: 286px;
		height: 84px;
		left: 0px;
		top: 0px;
	}
	#NEXT_STORY {
		left: 20px;
		top: 20px;
		position: absolute;
		overflow: hidden;
		width: 261px;
		height: 16px;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(250,105,128,1);
	}
	#Morbi_eleifend_a_libero {
		left: 20px;
		top: 46px;
		position: absolute;
		overflow: hidden;
		width: 241px;
		height: 16px;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#arrow_ea {
		fill: rgba(255,255,255,1);
	}
	.arrow_ea {
		overflow: visible;
		position: absolute;
		width: 10px;
		height: 6px;
		transform: translate(-10px, -10px) matrix(1,0,0,1,262,48) rotate(-90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Header_-_Tablet {
		position: absolute;
		width: 768px;
		height: 50px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#base_ec {
		fill: rgba(246,248,249,1);
	}
	.base_ec {
		position: absolute;
		overflow: visible;
		width: 768px;
		height: 50px;
		left: 0px;
		top: 0px;
	}
	#LOGO_ed {
		left: 20px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(250,105,128,1);
	}
	#HOME {
		left: 411px;
		top: 19px;
		position: absolute;
		overflow: visible;
		width: 34px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		color: rgba(52,54,56,1);
	}
	#PHOTOS {
		opacity: 0.5;
		left: 557px;
		top: 19px;
		position: absolute;
		overflow: visible;
		width: 47px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		color: rgba(52,54,56,1);
	}
	#CONTACT {
		opacity: 0.5;
		left: 625px;
		top: 19px;
		position: absolute;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		color: rgba(52,54,56,1);
	}
	#DISCOVERY {
		opacity: 0.5;
		left: 471px;
		top: 19px;
		position: absolute;
		overflow: visible;
		width: 65px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		color: rgba(52,54,56,1);
	}
	#christopher-campbell-28567-uns {
		position: absolute;
		width: 30px;
		height: 30px;
		left: 718px;
		top: 10px;
		overflow: visible;
	}
	#Footer {
		position: absolute;
		width: 768px;
		height: 316px;
		left: 0px;
		top: 1827px;
		overflow: visible;
	}
	#Group_18 {
		position: absolute;
		width: 768px;
		height: 316px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#base_el {
		fill: rgba(166,173,180,1);
	}
	.base_el {
		position: absolute;
		overflow: visible;
		width: 768px;
		height: 316px;
		left: 0px;
		top: 0px;
	}
	#main_em {
		position: absolute;
		width: 567px;
		height: 84px;
		left: 80px;
		top: 56px;
		overflow: visible;
	}
	#Home {
		left: 324px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#About {
		left: 405px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Testimonials {
		left: 488px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 80px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Photos {
		left: 324px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Terms {
		left: 405px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Integrations {
		left: 488px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 75px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Contact {
		left: 324px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Guidlines {
		left: 405px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Careers {
		left: 488px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Discovery {
		left: 324px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Help {
		left: 405px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Advertise {
		left: 488px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#LOGO_ez {
		left: 0px;
		top: 2px;
		position: absolute;
		overflow: visible;
		width: 38px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Acumin Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#subscribe {
		position: absolute;
		width: 284px;
		height: 66px;
		left: 80px;
		top: 190px;
		overflow: visible;
	}
	#input {
		position: absolute;
		width: 284px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#field {
		opacity: 0.1;
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.field {
		position: absolute;
		overflow: visible;
		width: 284px;
		height: 40px;
		left: 0px;
		top: 0px;
	}
	#send {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 248px;
		top: 12px;
		overflow: visible;
	}
	#send_e {
		fill: rgba(255,255,255,1);
	}
	.send_e {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Email {
		opacity: 0.5;
		left: 20px;
		top: 14px;
		position: absolute;
		overflow: hidden;
		width: 36px;
		height: 10px;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Stay_in_touch_with_us_for_the_ {
		left: 0px;
		top: 56px;
		position: absolute;
		overflow: hidden;
		width: 285px;
		height: 10px;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		color: rgba(203,208,211,1);
	}
	#Social {
		position: absolute;
		width: 136px;
		height: 16.001px;
		left: 552.244px;
		top: 240px;
		overflow: visible;
	}
	#facebook {
		position: absolute;
		width: 16px;
		height: 16.001px;
		left: 79px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_392 {
		fill: transparent;
	}
	.Rectangle_392 {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
	}
	#Path_1 {
		fill: rgba(255,255,255,1);
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 8.355px;
		height: 16px;
		left: 4px;
		top: 0.001px;
		transform: matrix(1,0,0,1,0,0);
	}
	#twitter {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 38.756px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_393 {
		fill: transparent;
	}
	.Rectangle_393 {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
	}
	#Path_2 {
		fill: rgba(255,255,255,1);
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 12.978px;
		left: 0px;
		top: 1.999px;
		transform: matrix(1,0,0,1,0,0);
	}
	#instagram {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_3 {
		fill: rgba(255,255,255,1);
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#web_fg {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 120px;
		top: 0px;
		overflow: visible;
	}
	#Path_4_fh {
		fill: rgba(255,255,255,1);
	}
	.Path_4_fh {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
}
@media (min-width: 1800px) {
	.mediaViewInfo {
		--web-view-name: 1800;
		--web-view-id: n_800;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#n_800 {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(246,248,249,1);
		overflow: hidden;
		--web-view-name: 1800;
		--web-view-id: n_800;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
		place-items: center;
	}
	#Footer_fk {
		position: absolute;
		width: 1800px;
		height: 200px;
		left: 0px;
		top: 1577px;
		overflow: visible;
	}
	#base_fl {
		fill: rgba(166,173,180,1);
	}
	.base_fl {
		position: absolute;
		overflow: visible;
		width: 1800px;
		height: 200px;
		left: 0px;
		top: 0px;
	}
	#main_fm {
		position: absolute;
		width: 379px;
		height: 84px;
		left: 320px;
		top: 56px;
		overflow: visible;
	}
	#Home_fn {
		left: 100px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#About_fo {
		left: 200px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Testimonials_fp {
		left: 300px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 80px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Photos_fq {
		left: 100px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Terms_fr {
		left: 200px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Integrations_fs {
		left: 300px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 75px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Contact_ft {
		left: 100px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Guidlines_fu {
		left: 200px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Careers_fv {
		left: 300px;
		top: 69px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Discovery_fw {
		left: 100px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Help_fx {
		left: 200px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Advertise_fy {
		left: 300px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#LOGO_fz {
		left: 0px;
		top: 2px;
		position: absolute;
		overflow: visible;
		width: 38px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Acumin Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#subscribe_f {
		position: absolute;
		width: 260px;
		height: 66px;
		left: 920px;
		top: 58px;
		overflow: visible;
	}
	#field_f {
		opacity: 0.1;
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.field_f {
		position: absolute;
		overflow: visible;
		width: 260px;
		height: 40px;
		left: 0px;
		top: 0px;
	}
	#send_f {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 224px;
		top: 12px;
		overflow: visible;
	}
	#send_ga {
		fill: rgba(255,255,255,1);
	}
	.send_ga {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Email_f {
		opacity: 0.5;
		left: 20px;
		top: 14px;
		position: absolute;
		overflow: hidden;
		width: 36px;
		height: 10px;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(203,208,211,1);
	}
	#Stay_in_touch_with_us_for_the__f {
		left: 0px;
		top: 56px;
		position: absolute;
		overflow: hidden;
		width: 261px;
		height: 10px;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		color: rgba(203,208,211,1);
	}
	#Social_f {
		position: absolute;
		width: 160px;
		height: 16.001px;
		left: 1320px;
		top: 56px;
		overflow: visible;
	}
	#web_f {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 144px;
		top: 0px;
		overflow: visible;
	}
	#Path_4_f {
		fill: rgba(255,255,255,1);
	}
	.Path_4_f {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#instagram_f {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_3_ga {
		fill: rgba(255,255,255,1);
	}
	.Path_3_ga {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#twitter_gb {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 48px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_393_gc {
		fill: transparent;
	}
	.Rectangle_393_gc {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
	}
	#Path_2_gd {
		fill: rgba(255,255,255,1);
	}
	.Path_2_gd {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 12.978px;
		left: 0px;
		top: 1.999px;
		transform: matrix(1,0,0,1,0,0);
	}
	#facebook_ge {
		position: absolute;
		width: 16px;
		height: 16.001px;
		left: 96px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_392_gf {
		fill: transparent;
	}
	.Rectangle_392_gf {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
	}
	#Path_1_gg {
		fill: rgba(255,255,255,1);
	}
	.Path_1_gg {
		overflow: visible;
		position: absolute;
		width: 8.355px;
		height: 16px;
		left: 4px;
		top: 0.001px;
		transform: matrix(1,0,0,1,0,0);
	}
	#hero_gh {
		position: absolute;
		width: 1800px;
		height: 600px;
		left: 0px;
		top: 50px;
		overflow: visible;
	}
	#Image_gi {
		position: absolute;
		width: 1800px;
		height: 600px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#overlay_gk {
		fill: url(#overlay_gk);
	}
	.overlay_gk {
		position: absolute;
		overflow: visible;
		width: 1800px;
		height: 600px;
		left: 0px;
		top: 0px;
	}
	#title_gl {
		position: absolute;
		width: 1160px;
		height: 97px;
		left: 320px;
		top: 224px;
		overflow: visible;
	}
	#AMAZING_PLACES_IN_AMERICA_TO_V_gm {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: hidden;
		width: 1161px;
		height: 50px;
		text-align: center;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
	#additional_info_gn {
		position: absolute;
		width: 338px;
		height: 17px;
		left: 411px;
		top: 80px;
		overflow: visible;
	}
	#page_go {
		position: absolute;
		width: 139px;
		height: 17px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#TRAVELGUIDE_gp {
		left: 26px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 114px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#web_gq {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 1px;
		overflow: visible;
	}
	#Path_4_gr {
		fill: rgba(255,255,255,1);
	}
	.Path_4_gr {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Topic_gs {
		position: absolute;
		width: 139px;
		height: 17px;
		left: 199px;
		top: 0px;
		overflow: visible;
	}
	#WORLD_NEWS_gt {
		left: 26px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 114px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#topic_gu {
		fill: rgba(255,255,255,1);
	}
	.topic_gu {
		overflow: visible;
		position: absolute;
		width: 14px;
		height: 15.999px;
		left: 0px;
		top: 1px;
		transform: matrix(1,0,0,1,0,0);
	}
	#autor_gv {
		position: absolute;
		width: 212px;
		height: 40px;
		left: 50px;
		top: 510px;
		overflow: visible;
	}
	#avatar_gw {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#by_Steven_Voorhees_gx {
		left: 60px;
		top: 12px;
		position: absolute;
		overflow: visible;
		width: 153px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#next_story_gy {
		position: absolute;
		width: 440px;
		height: 157px;
		left: 1320px;
		top: 403px;
		overflow: visible;
	}
	#Rectangle_428_gz {
		opacity: 0.5;
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 4 5;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_428_gz {
		position: absolute;
		overflow: visible;
		width: 442px;
		height: 159px;
		left: 0px;
		top: 0px;
	}
	#NEXT_STORY_g {
		left: 30px;
		top: 33px;
		position: absolute;
		overflow: hidden;
		width: 264px;
		height: 16px;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(250,105,128,1);
	}
	#Morbi_eleifend_a_libero_g {
		left: 30px;
		top: 57px;
		position: absolute;
		overflow: visible;
		width: 171px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -2px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#Quisque_viverra_interdum_velit_g {
		left: 30px;
		top: 85px;
		position: absolute;
		overflow: visible;
		width: 381px;
		height: 43px;
		line-height: 26px;
		margin-top: -5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#arrow_g {
		fill: rgba(255,255,255,1);
	}
	.arrow_g {
		overflow: visible;
		position: absolute;
		width: 10px;
		height: 6px;
		transform: translate(-1420px, -471px) matrix(1,0,0,1,1822,503) rotate(-90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#divider_g {
		fill: transparent;
		stroke: rgba(235,237,237,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.divider_g {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 727px;
		left: 700.001px;
		top: 750px;
		transform: matrix(1,0,0,1,0,0);
	}
	#left_column {
		position: absolute;
		width: 330px;
		height: 719px;
		left: 320px;
		top: 750px;
		overflow: visible;
	}
	#Quisque_viverra_interdum_velit_ha {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 331px;
		height: 74px;
		line-height: 42px;
		margin-top: -5px;
		text-align: left;
		font-family: Acumin Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(32,33,36,1);
	}
	#Lorem_ipsum_dolor_sit_amet_con_g {
		left: 0px;
		top: 114px;
		position: absolute;
		overflow: hidden;
		width: 331px;
		height: 483px;
		line-height: 26px;
		margin-top: -6px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(166,173,180,1);
	}
	#info_g {
		position: absolute;
		width: 330px;
		height: 42px;
		left: 0px;
		top: 677px;
		overflow: visible;
	}
	#Small_Title_-_Subtitle {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 331px;
		height: 16px;
		line-height: 26px;
		margin-top: -5px;
		text-align: left;
		font-family: Acumin Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(32,33,36,1);
	}
	#time_ha {
		position: absolute;
		width: 151px;
		height: 16px;
		left: 0px;
		top: 26px;
		overflow: visible;
	}
	#n_h_ago_by_Worldnews_hb {
		left: 26px;
		top: 1px;
		position: absolute;
		overflow: visible;
		width: 126px;
		white-space: nowrap;
		line-height: 26px;
		margin-top: -6.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 13px;
		color: rgba(166,173,180,1);
	}
	#time_hc {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_5_hd {
		fill: rgba(203,208,211,1);
	}
	.Path_5_hd {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#divider_he {
		fill: transparent;
		stroke: rgba(235,237,237,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-dasharray: 4 5;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.divider_he {
		overflow: visible;
		position: absolute;
		width: 322px;
		height: 2px;
		left: 0px;
		top: 637px;
		transform: matrix(1,0,0,1,0,0);
	}
	#column {
		position: absolute;
		width: 730.001px;
		height: 727px;
		left: 750px;
		top: 750px;
		overflow: visible;
	}
	#responds_hg {
		position: absolute;
		width: 730px;
		height: 387px;
		left: 0.001px;
		top: 0px;
		overflow: hidden;
	}
	#responds_hh {
		position: absolute;
		width: 740px;
		height: 173px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#avatar_hi {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Jonathan_Walker_hj {
		left: 60px;
		top: 10px;
		position: absolute;
		overflow: hidden;
		width: 681px;
		height: 20px;
		line-height: 42px;
		margin-top: -9px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(32,33,36,1);
	}
	#In_hac_habitasse_platea_dictum_hk {
		left: 0px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 731px;
		height: 77px;
		line-height: 30px;
		margin-top: -7px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 16px;
		color: rgba(32,33,36,1);
	}
	#time_hl {
		position: absolute;
		width: 83px;
		height: 16px;
		left: 0px;
		top: 157px;
		overflow: visible;
	}
	#n__min_ago {
		left: 26px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 58px;
		white-space: nowrap;
		line-height: 26px;
		margin-top: -6.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 13px;
		color: rgba(166,173,180,1);
	}
	#time_hn {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_5_ho {
		fill: rgba(203,208,211,1);
	}
	.Path_5_ho {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#responds_hp {
		position: absolute;
		width: 740px;
		height: 173px;
		left: 0px;
		top: 213px;
		overflow: visible;
	}
	#avatar_hq {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Brenda_Mercer_hr {
		left: 60px;
		top: 10px;
		position: absolute;
		overflow: hidden;
		width: 681px;
		height: 20px;
		line-height: 42px;
		margin-top: -9px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(32,33,36,1);
	}
	#Lorem_ipsum_dolor_sit_amet_con_hs {
		left: 0px;
		top: 60px;
		position: absolute;
		overflow: hidden;
		width: 731px;
		height: 77px;
		line-height: 30px;
		margin-top: -7px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 16px;
		color: rgba(32,33,36,1);
	}
	#time_ht {
		position: absolute;
		width: 83px;
		height: 16px;
		left: 0px;
		top: 157px;
		overflow: visible;
	}
	#n__min_ago_hu {
		left: 26px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 58px;
		white-space: nowrap;
		line-height: 26px;
		margin-top: -6.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: italic;
		font-weight: normal;
		font-size: 13px;
		color: rgba(166,173,180,1);
	}
	#time_hv {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_5_hw {
		fill: rgba(203,208,211,1);
	}
	.Path_5_hw {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Image_hx {
		position: absolute;
		width: 730px;
		height: 300px;
		left: 0px;
		top: 427px;
		overflow: visible;
	}
	#playbutton_hy {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 345px;
		top: 552px;
		overflow: visible;
	}
	#base_hz {
		opacity: 0.3;
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.base_hz {
		position: absolute;
		overflow: visible;
		width: 50px;
		height: 50px;
		left: 0px;
		top: 0px;
	}
	#icon_h {
		fill: rgba(255,255,255,1);
	}
	.icon_h {
		overflow: visible;
		position: absolute;
		width: 8px;
		height: 10px;
		left: 22px;
		top: 20px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Component_1 {
		position: absolute;
		width: 1800px;
		height: 50px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Header {
		position: absolute;
		width: 1800px;
		height: 50px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#base_h {
		fill: rgba(246,248,249,1);
	}
	.base_h {
		position: absolute;
		overflow: visible;
		width: 1800px;
		height: 50px;
		left: 0px;
		top: 0px;
	}
	#LOGO_h {
		left: 20px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(250,105,128,1);
	}
	#HOME_h {
		left: 1443px;
		top: 19px;
		position: absolute;
		overflow: visible;
		width: 34px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		color: rgba(52,54,56,1);
	}
	#PHOTOS_h {
		opacity: 0.5;
		left: 1589px;
		top: 19px;
		position: absolute;
		overflow: visible;
		width: 47px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		color: rgba(52,54,56,1);
	}
	#CONTACT_h {
		opacity: 0.5;
		left: 1657px;
		top: 19px;
		position: absolute;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		color: rgba(52,54,56,1);
	}
	#DISCOVERY_h {
		opacity: 0.5;
		left: 1503px;
		top: 19px;
		position: absolute;
		overflow: visible;
		width: 65px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		color: rgba(52,54,56,1);
	}
	#christopher-campbell-28567-uns_h {
		position: absolute;
		width: 30px;
		height: 30px;
		left: 1750px;
		top: 10px;
		overflow: visible;
	}
}
